h1 {
    font-size: 4em;
    font-family: 'Indie Flower', cursive;
    color: #fff;
}

h2 {
    font-size: 2em;
    color: indianred;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #eee0d5;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    background-color: #fff;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/yoddle.jpg');
    background-size: cover;
    margin-bottom: 32px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #eee0d5;
    background-color: #773838;
}

.menu li {
    margin: 20px;
}

img {
    float: right;
}